body {
    width:100%;
    margin:0;
    font:normal 14px "Miscrosoft YaHei";
}
input[type=submit]{
    padding:5px 20px;
    background-color:#808080;
    color:#ffffff;
}
input[type=submit]:hover{
    background-color:#000000;
}
table{
    margin:20px auto;
    text-align:center;
    border-collapse:collapse;
}
.table{
    width:800px;
}
th,td{
    border:1px solid #ad9898 !important;
    padding:3px 6px;
    height:35px;
}
th{
    font-weight:bold;
}
input[type=text],
input[type=number]{
    width:100px;
    height:22px;
}
select{
    min-width:100px;
}
#Pager{
    height:60px;
    padding-top:20px;
    text-align:center;
}
#Pager a,span{
    border:1px solid #ad9898;
    padding:2px 5px;
    font-size:16px;
    color:#808080;
    text-decoration:none;
}
#Pager a:hover{
    background-color:#ddd9d9;
    color:#232222;
}
#DelButton{
    background:url(/images/anyone.png);
    height:20px;
}
#SearchDiv{
    border-bottom:1px solid #808080;
    margin-bottom:10px;
    padding-bottom:10px;
}
.disable{
    pointer-events:none;
}
.text-danger {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 8px auto;
    float: left;
}
